@media only screen and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {

}

body {
    padding: 40px;
}

img {
    width: 35px;
}

#logo {
    margin: 20px;
}
.footer {
    align-content: center;
}

.more-button {
    margin-left: 15px;
}
.footer {
    padding: 15px;
}
.search-bar {
    padding: 15px;
}

